* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 30px;
}

.timer-btn {
width: 100px;
height: 40px;
background-color: blue;
color: azure;
border-radius: 40px;
cursor: pointer;
}

#datetime-picker {
  height: 40px;
  border: none;
  width: 250px;
  margin-right: 20px;
  font-size: 20px;
  color: blue;
  text-align: center;
}

.value {
  font-size: 24px;
  color: blue;
}

.label {
  color: green;
}